.home {
  font-size: 24px;
  margin-right: 20px;
  cursor: pointer;
}

.home:hover {
  font-size: 30px;
}

.imputBusca {
  border: 1px solid #d94c1a;
  height: 30px;
  width: 220px;
}

textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 2px solid #d94c1a;
  outline: 0;
}

.BotaoBusca {
  border: none;
  background-color: #a4a68a;
  border: 1px solid #d94c1a;
  margin: 5px;
  height: 30px;
  width: 60px;
}

header {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 15px;
  justify-content: center;
}
